html, body {
	margin: 0;
	padding: 0;
}


/* =Typography
-----------------------------------------------------------------------------*/
body {
	font-family: Helvetica, Arial, sans-serif;	
	font-size: 14px;
}


/* =Layout
-----------------------------------------------------------------------------*/
#page {
	width: 940px;
	margin: 50px auto;
}

/* =Misc
-----------------------------------------------------------------------------*/
.list li {
	margin: 10px 0;
}

#redactor_image_box img{
    max-width: 100px;
    max-height: 100px;
    min-width: 80px;
    min-height: 80px;
}

#redactor_image_folders{
    width: 100%;
    overflow: hidden;
}

#redactor_image_folders a{
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;

}

.redactor_folder{
    background-image: url("../img/folder.png");
    width: 128px;
    height: 128px;
    text-align: center;
    float: left;
}
.redactor_folder_text{
    position: relative;
    top: 50%;
    font-size: 16px;
}